<div *ngIf="displayValue,else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Subpayment Information View</b>
            </ng-template>
            <div class="view-container">
                <div class="row my-1">
                    <div class="my-label">
                        No :
                    </div>
                    <div class="my-value">
                        {{displayValue.SubPaymentNo || "-"}}
                    </div>

                    <div class="my-label">
                        Date :
                    </div>
                    <div class="my-value">
                        {{(displayValue?.SubPaymentDate | date:'dd/MM/yyyy') || "-"}}
                    </div>
                </div>

                <div class="row my-1">
                    <div class="my-label">
                        JobNumber :
                    </div>
                    <div class="my-value">
                        {{displayValue.ProjectCodeMasterString || "-"}}
                    </div>

                    <div class="my-label">
                        Paint Team :
                    </div>
                    <div class="my-value">
                        {{displayValue?.PaintTeamString || "-"}}
                    </div>
                </div>

                <div class="row my-1">
                    <div class="my-label">
                        Approved 1 :
                    </div>
                    <div class="my-value">
                        {{displayValue.EmpApproved1String || "-"}}
                    </div>

                    <div class="my-label">
                        Approved 2 :
                    </div>
                    <div class="my-value">
                        {{displayValue?.EmpApproved2String || "-"}}
                    </div>
                </div>

                <div class="row my-1">
                    <div class="my-label">
                        Remark :
                    </div>
                    <div class="my-value">
                        {{displayValue?.Remark || "-"}}
                    </div>

                    <div class="my-label">
                        Status :
                    </div>
                    <div class="my-value">
                        {{displayValue?.SubPaymentMasterStatusString || "-"}}
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Subpayment List</b>
            </ng-template>
            <div class="view-container">
                <reuse-table [rows]="subPaymentDetails" [columns]="columns"
                             [height]="height" [columnMode]="force">
                </reuse-table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>
