<div *ngIf="ListPaintBlastWorks; else elseBlock">
    <div class="edit-center-content-with-scroll">
        <div class="edit-container">
            <h5>Blast Work</h5>
            <div class="my-form">
                <div class="col-sm-2">
                    <p-checkbox name="level1" label="BlastWork"
                                [(ngModel)]="checkBoxs[0]" binary="true"
                                inputId="bw" (onChange)="checkBoxChange($event,'BlastWork')">
                    </p-checkbox>
                </div>
            </div>
            <div class="top-container" *ngIf="ListPaintBlastWorks.BlastWorkItems && checkBoxs[0]">
                <blast-workitem-edit [(blastWorkItem)]="ListPaintBlastWorks.BlastWorkItems[0]" 
                                     (hasChange)="onHasChange($event)" [noRequest]="noRequest"></blast-workitem-edit>
            </div>
        </div>
        <div class="edit-container">
            <h5>Paint Work</h5>
            <div class="my-form">
                <div class="col-sm-2">
                    <p-checkbox name="level1" value="PrimerCoat" label="PrimerCoat"
                                [(ngModel)]="layerPaints" inputId="pc" (onChange)="checkBoxChange($event,'PrimerCoat')">
                    </p-checkbox>
                </div>
                <div class="col-sm-2">
                    <p-checkbox name="level1" value="MidCoat" label="MidCoat"
                                [(ngModel)]="layerPaints" inputId="mc" (onChange)="checkBoxChange($event,'MidCoat')">
                    </p-checkbox>
                </div>
                <div class="col-sm-3">
                    <p-checkbox name="level1" value="IntermediateCoat" label="IntermediateCoat"
                                [(ngModel)]="layerPaints" inputId="ic" (onChange)="checkBoxChange($event,'IntermediateCoat')">
                    </p-checkbox>
                </div>
                <div class="col-sm-2">
                    <p-checkbox name="level1" value="TopCoat" label="TopCoat"
                                [(ngModel)]="layerPaints" inputId="tc" (onChange)="checkBoxChange($event,'TopCoat')">
                    </p-checkbox>
                </div>
            </div>
            <div class="bottom-container-40vh">
                <div *ngIf="checkBoxs[1] && ListPaintBlastWorks.PaintWorkItems[0]">
                    <paint-workitem-edit #pc1 [(paintWorkItem)]="ListPaintBlastWorks.PaintWorkItems[0]"
                                         (hasChange)="onHasChange($event)" [noRequest]="noRequest"></paint-workitem-edit>
                </div>
                <div *ngIf="checkBoxs[2] && ListPaintBlastWorks.PaintWorkItems[1]" >
                    <paint-workitem-edit #mc1 [(paintWorkItem)]="ListPaintBlastWorks.PaintWorkItems[1]"
                                         (hasChange)="onHasChange($event)" [noRequest]="noRequest"></paint-workitem-edit>
                </div>
                <div *ngIf="checkBoxs[3] && ListPaintBlastWorks.PaintWorkItems[2]">
                    <paint-workitem-edit #ic1 [(paintWorkItem)]="ListPaintBlastWorks.PaintWorkItems[2]"
                                         (hasChange)="onHasChange($event)" [noRequest]="noRequest"></paint-workitem-edit>
                </div>
                <div *ngIf="checkBoxs[4] && ListPaintBlastWorks.PaintWorkItems[3]">
                    <paint-workitem-edit #tc1 [(paintWorkItem)]="ListPaintBlastWorks.PaintWorkItems[3]"
                                         (hasChange)="onHasChange($event)" [noRequest]="noRequest"></paint-workitem-edit>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>