<div class="edit-container" *ngIf="editValue">
    <div>
        <button type="button" mat-icon-button color="primary" (click)="onComplateOrCancel(true)"
                [disabled]="!editValueForm.valid" matTooltip="New/Update">
            <i class="fa fa-2x fa-plus-square-o" aria-hidden="true"></i>
        </button>
        <button type="button" mat-icon-button color="warn" (click)="onComplateOrCancel(false)"
                matTooltip="Cancel">
            <i class="fa fa-2x fa-close" aria-hidden="true"></i>
        </button>
    </div>
    <hr class="w-100"/>
    <form [formGroup]="editValueForm">
        <div class="my-form">
            <label for="Code" class="my-label">Job Level2/3 Code:</label>
            <div class="col-sm-4">
                <p-autoComplete class="my-input-combobox" placeholder="Insert job level2/3 code here"
                                (completeMethod)="onSearchAutoComplate($event)" required
                                appendTo="body"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [size]="30"
                                id="Code" formControlName="Code" [suggestions]="AutoComplates">
                </p-autoComplete>
                <!--<validation-messages [control]="editValueForm.controls.Code"></validation-messages>-->
            </div>

            <label for="Name" class="my-label">Job Level2/3 Name:</label>
            <div class="col-sm-4">
                <input type="text" class="my-input" placeholder="Insert job level2/3 name here."
                       id="Name" formControlName="Name" required>
                <validation-messages [control]="editValueForm.controls.Name"></validation-messages>
            </div>
        </div>
    </form>
</div>