<div *ngIf="displayValue,else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Request Painting Master</b>
            </ng-template>
            <div class="view-container">
                <div class="row my-1">
                    <div class="my-label">
                        RequireNo :
                    </div>
                    <div class="my-value">
                        {{displayValue.RequireNo || "-"}}
                    </div>

                    <div class="my-label">
                        PaintSchedule :
                    </div>
                    <div class="my-value">
                        {{displayValue.PaintingSchedule || "-"}}
                    </div>

                </div>

                <div class="row my-1">
                    <div class="my-label">
                        RequireDate :
                    </div>
                    <div class="my-value">
                        {{(displayValue.RequireDate | date:'dd/MM/yyyy') || "-"}}
                    </div>

                    <div class="my-label">
                        RequesterBy :
                    </div>
                    <div class="my-value">
                        {{displayValue.RequireString || "-"}}
                    </div>
                </div>

                <div class="row my-1">
                    <div class="my-label">
                        JobNumber :
                    </div>
                    <div class="my-value">
                        {{displayValue.ProjectCodeSubString || "-"}}
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Request Work Item</b>
            </ng-template>
            <div class="view-container">
                <reuse-table [rows]="requireLists" [columns]="columns" 
                             [height]="height" (selected)="onRequestWorkItem($event)">
                </reuse-table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>
