<div class="edit-container border border-info" *ngIf="taskBlastDetail && blastWorkItem">
    <form [formGroup]="taskBlastDetailForm" class="m-1">
        <div class="my-form">
            <label class="my-label-col-1">Internal</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="(blastWorkItem?.IntArea || 0) + 'm²'" readonly>
            </div>
            <label class="my-label-col-1">Surface</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="blastWorkItem?.IntSurfaceTypeString || '-'" readonly>
            </div>

            <label class="my-label-col-1">External</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="(blastWorkItem?.ExtArea || 0) + 'm²'" readonly>
            </div>
            <label class="my-label-col-1">Surface</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="blastWorkItem?.ExtSurfaceTypeString || '-'" readonly>
            </div>
        </div>

        <div class="my-form">
            <label for="BlastRoomId" class="my-label-col-1">Room:</label>
            <div class="col-sm-5">
                <p-dropdown class="my-input-combobox" [options]="blastRooms" [style]="{'width':'100%'}"
                            appendTo="body" [readonly]="ReadOnly"
                            id="BlastRoomId" formControlName="BlastRoomId" required>
                </p-dropdown>
            </div>

            <label for="Remark" class="my-label-col-1">Remark:</label>
            <div class="col-sm-5">
                <!-- class="my-input"-->
                <input type="text" [ngClass]="ReadOnly ? 'my-input-read-only' : 'my-input' " placeholder="Insert remark here."
                       [readonly]="ReadOnly"
                       id="Remark" formControlName="Remark">
            </div>
        </div>
    </form>
</div>