<div class="edit-container border border-info" *ngIf="taskPaintDetail && paintWorkItem">
    <form [formGroup]="taskPaintDetailForm" class="m-1">
        <h5 class="alert-info mx-1">&nbsp;&nbsp;Level:{{paintWorkItem?.PaintLevelString || ""}}</h5>
        <div class="my-form">
            <label class="my-label-col-1">Internal.m²:</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="paintWorkItem.IntArea" readonly>
            </div>
            <label class="my-label-col-1">Color:</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="paintWorkItem.IntColorString" readonly>
            </div>

            <label class="my-label-col-1">External.m²:</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="paintWorkItem.ExtArea" readonly>
            </div>
            <label class="my-label-col-1">Color:</label>
            <div class="col-sm-2">
                <input type="text" class="my-input-read-only" [value]="paintWorkItem.ExtColorString" readonly>
            </div>
        </div>

        <div class="my-form">
            <label [for]="'PaintTeamId' + paintWorkItem.PaintLevel" class="my-label">Team:</label>
            <div class="col-sm-4">
                <p-dropdown class="my-input-combobox" [options]="paintTeams" [style]="{'width':'100%'}"
                            appendTo="body"
                            [id]="'PaintTeamId' + paintWorkItem.PaintLevel" formControlName="PaintTeamId" required>
                </p-dropdown>
            </div>
            <label [for]="'Remark' + paintWorkItem.PaintLevel" class="my-label">Remark:</label>
            <div class="col-sm-4">
                <input type="text" class="my-input" placeholder="Insert blast room remark here."
                       [id]="'Remark' + paintWorkItem.PaintLevel" formControlName="Remark">
            </div>
        </div>
    </form>
</div>