<div *ngIf="editValue; else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>WorkItem Information</b>
            </ng-template>
            <div *ngIf="editValueForm">
                <form [formGroup]="editValueForm">
                    <div *ngIf="requirePaintMaster">
                        <div class="my-form">
                            <label class="my-label">RequireNo:</label>
                            <div class="edit-form-content col-sm-4">
                                {{requirePaintMaster.RequireNo || "-"}}
                            </div>

                            <label class="my-label">PaintSchedule:</label>
                            <div class="edit-form-content col-sm-4">
                                {{requirePaintMaster.PaintingSchedule || "-"}}
                            </div>
                        </div>

                        <div class="my-form">
                            <label class="my-label">JobNumber:</label>
                            <div class="edit-form-content col-sm-4">
                                {{requirePaintMaster.ProjectCodeSubString || "-"}}
                            </div>
                        </div>
                    </div>

                    <div class="my-form" *ngIf="initialRequirePaint">
                        <label class="my-label">Plan:</label>
                        <div class="edit-form-content col-sm-4">
                            {{(editValue.PlanStart | date:'dd/MM/yyyy') || ''}}
                            <span class="mx-3">|</span>
                            {{(editValue.PlanEnd | date:'dd/MM/yyyy') || ''}}
                        </div>

                        <label class="my-label">Drawing/Unit:</label>
                        <div class="edit-form-content col-sm-4">
                            {{editValue.DrawingNo || ''}}
                            &nbsp;/&nbsp;
                            {{editValue.UnitNo || ''}}
                        </div>
                    </div>
                    <hr class="w-75" />
                    <div class="my-form">
                        <label for="SendWorkItem" class="my-label">Send-Date:</label>
                        <div class="edit-form-content col-sm-4">
                            <p-calendar formControlName="SendWorkItem" [showIcon]="true"
                                        id="SendWorkItem" dateFormat="dd/mm/yy" placeholder="  Date send work item."
                                        appendTo="body">
                            </p-calendar>
                        </div>

                        <label for="IntArea" class="my-label">Internal/External m²:</label>
                        <div class="edit-form-content col-sm-4">
                            <input type="number" min="1" class="my-input" placeholder="Internal of work item."
                                   id="IntArea" formControlName="IntArea" [readonly]="!needInt">
                            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                            <input type="number" min="1" class="my-input" placeholder="External of work item."
                                   id="ExtArea" formControlName="ExtArea" [readonly]="!needExt">
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="Quantity" class="my-label">Quantity:</label>
                        <div class="col-sm-4">
                            <input type="number" min="1" class="my-input" placeholder="Insert quantity of work item."
                                   required
                                   id="Quantity" formControlName="Quantity">
                            <validation-messages [control]="editValueForm.controls.Quantity"></validation-messages>
                        </div>

                        <label for="Weight" class="my-label">Weight (kg):</label>
                        <div class="col-sm-4">
                            <input type="number" min="1" class="my-input" placeholder="Insert weight of work item."
                                   required
                                   id="Weight" formControlName="Weight">
                            <validation-messages [control]="editValueForm.controls.Weight"></validation-messages>
                        </div>
                    </div>

                    <div class="my-form">
                        <label class="my-label">Dimension L x W x H (mm):</label>
                        <div class="edit-form-content col-sm-6">
                            <input type="number" min="1" class="my-input" placeholder="length work item."
                                   id="SizeL" formControlName="SizeL">
                            <span class="mx-1">X</span>
                            <input type="number" min="1" class="my-input" placeholder="width work iitem."
                                   id="SizeW" formControlName="SizeW">
                            <span class="mx-1">X</span>
                            <input type="number" min="1" class="my-input" placeholder="height work item."
                                   id="SizeH" formControlName="SizeH">
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="Description" class="my-label">Description:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" placeholder="Insert description of work item here."
                                      id="Description" formControlName="Description" rows="4" required>
                            </textarea>
                            <validation-messages [control]="editValueForm.controls.Description"></validation-messages>
                        </div>

                        <label for="MarkNo" class="my-label">MarkNo:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" placeholder="Insert mark-no of work item here."
                                      id="MarkNo" formControlName="MarkNo" rows="4" required>
                            </textarea>
                            <validation-messages [control]="editValueForm.controls.MarkNo"></validation-messages>
                        </div>
                    </div>

                    <div class="my-form">
                        <label class="my-label">Option-1:</label>
                        <div class="col-sm-2">
                            <p-checkbox name="group2" formControlName="FieldWeld" binary="true" label="FieldWeld" inputId="fieldWeld"></p-checkbox>
                        </div>
                        <div class="col-sm-2">
                            <p-checkbox name="group2" formControlName="Insulation" binary="true" label="Insulation" inputId="insulation"></p-checkbox>
                        </div>
                        <div class="col-sm-2">
                            <p-checkbox name="group2" formControlName="ITP" binary="true" label="ITP" inputId="iTP"></p-checkbox>
                        </div>
                    </div>
                </form>
                <div class="my-form">
                    <label for="AttactFile" class="my-label">AttactFile:</label>
                    <div class="col-4">
                        <attact-file id="AttactFile" (results)="onUpdateAttachResults($event)">
                        </attact-file>
                    </div>
                </div>

                <div *ngIf="attachFiles.length > 0">
                    <table class="table table-hover table-sm small">
                        <colgroup>
                            <col span="1" style="width: 80%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of attachFiles; let num2 = index">
                                <td (click)="onOpenNewLink(file.FileAddress)" style="cursor:pointer;">
                                    {{num2 + 1}}. {{file.FileName}}
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-sm btn-danger" matTooltip="Remove Attach File" (click)="onDeleteAttachFile(file)">
                                            <em class="fa fa-remove"></em>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>