<div *ngIf="displayValue,else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Blast Room-View</b>
            </ng-template>
            <div class="view-container">
                <div class="row my-1">
                    <div class="my-label">
                        Room Name :
                    </div>
                    <div class="my-value">
                        {{displayValue.BlastRoomName || "-"}}
                    </div>

                    <div class="my-label">
                        Room Number :
                    </div>
                    <div class="my-value">
                        {{displayValue.BlastRoomNumber || "-"}}
                    </div>

                </div>

                <div class="row my-1">
                    <div class="my-label">
                        Team Name :
                    </div>
                    <div class="my-value">
                        {{displayValue.TeamBlastString || "-"}}
                    </div>

                    <div class="my-label">
                        Remark :
                    </div>
                    <div class="my-value">
                        {{displayValue.Remark || "-"}}
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>
