<div class="master-dialog-vh" *ngIf="mode">
    <H5 style="color:cadetblue">Selected Job Level2/3</H5>
    <div class="child-container" *ngIf="!newProjectSub;else NewProjectBlock">
        <div class="center-content">
            <split direction="horizontal"
                   [gutterSize]="4"
                   [visibleTransition]="true">
                <split-area [size]="40" [order]="1">
                    <div class="child-left-container">
                        <data-table (selected)="onSelectedMaster($event)"
                                    [columns]="columns" [scrollbarH]="false"
                                    [height]="'55vh'">
                        </data-table>
                    </div>
                </split-area>
                <split-area [size]="60" [order]="2" *ngIf="mode.ShowProjectSub">
                    <div class="edit-container">
                        <div class="top-container">
                            <div class="edit-form-content">
                                <search-box (search)="onFilter($event)"></search-box>

                                <button type="button" mat-icon-button color="warn" (click)="onNewProjectSub(master)"
                                        matTooltip="New Job Level2/3" style="float:left"
                                        [disabled]="!CanAddProjectSub">
                                    <i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i>
                                    Add More
                                </button>
                            </div>
                        </div>
                        <div class="base-bottom-container">
                            <ngx-datatable class="material"
                                           #table
                                           [rows]="details"
                                           [columns]="columnsDetail"
                                           [columnMode]="'flex'"
                                           [headerHeight]="50"
                                           [footerHeight]="0"
                                           [rowHeight]="50"
                                           [selectionType]="'single'"
                                           (select)="onSelectedDetail($event)"
                                           [scrollbarV]="true"
                                           [style.height]="'55vh'">
                            </ngx-datatable>
                        </div>
                    </div>
                </split-area>
            </split>
        </div>
        <div class="right-content">
            <button type="button" mat-icon-button color="primary" (click)="onSelectedClick()"
                    [disabled]="!CanSelected" matTooltip="Selected" matTooltipPosition="left">
                <i class="fa fa-2x fa-hand-pointer-o" aria-hidden="true"></i>
            </button>
            <button type="button" mat-icon-button color="warn" (click)="onCancelClick()"
                    matTooltip="Cancel" matTooltipPosition="left">
                <i class="fa fa-2x fa-close" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<ng-template #NewProjectBlock>
    <hr class="w-100" />
    <p class="text-info text-sm-left">Insert job-level2/3 for "{{master.ProjectCode +'/'+ master.ProjectName}}".
    <br />When complate add code click "New/Update" button.</p>
    
    <projectsub-edit-extend [editValue]="newProjectSub" (complateValue)="onProjectSubComplate($event)">
    </projectsub-edit-extend>
</ng-template>